body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(8, 70, 94) !important;
  color: lightcyan !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.underline-bottom{
  padding-bottom: 1rem;
  border-bottom: 1px solid lightcyan;
}

.input-box{
  margin: 0.5rem;
  max-height: 4rem;
  min-width: 4rem ;
  background-color: white;
  cursor:text;
  color:black;
  overflow:hidden ;
  font-size: 2.6rem;
  text-transform: uppercase ;
  text-align:center;
  border: 3px solid purple;
}